/* src/components/NavigationBar.css */
.navbar {
    display: flex;
    align-items: center;
    background-color:  #8bcece; /* Primary blue */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .logo-img {
    height: 50px;
    width: auto;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust spacing */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #161D20;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #00A8A8; /* Highlight color on hover */
  }

  .nav-button {
    margin-left: auto;
    width: 100px;
  

}

.login-btn {
  background-color: white;
  color: #0d6efd;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #ffcc00;
  color: black;
}

.nav-icon{
  color: black;

  
}
  