.home-page-container {
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column; /* Navbar stays on top */
  }
  
  .home-content {
    display: flex;
    flex: 1; /* Take up remaining space below navbar */
    position: relative; /* Needed for absolute positioning of image */
  }
  
  .left-section {
    width: 85%;
    background-color: #161D20;
  }
  
  .right-section {
    width: 15%;
    background-color: white;
  }
  
  @keyframes slideIn {
    from {
        left: 60%;
    }
    to {
        right: 70%;
    }
}

.car-img {
    position: absolute;
    width: 60%; 
    max-width: 800px; 
    left: 42%; 
    top: 50%;
    transform: translateY(-50%);
    animation: slideIn 2s ease-out; /* Apply the animation */
}

  .heading{
    color: white;
    font-size: 90px;
    font-weight: bold; /* Makes the text bold */
    margin-left: 190px; /* Adjust left margin */
    margin-right: 500px;
    margin-top: 75px;
    text-align: center;
    
  }
  
  .description {
    color: white;
    margin-left: 130px;
    margin-right: 500px;
    margin-top: 30px;
  }

  .btn{
    margin-left: 150px;
    margin-top: 30px;
  }